*.aux
*.tex~
*.logs
*.log
*.toc
*.fdb_latexmk
*.synctex.gz
*.out
*.fls
*pscyr
**/"Техническое обслуживание, ремонт и испытание мехатронных систем"
.gitignore~
Охрана труда/Рефераты/Расследование, оформление и учет несчастных случаев на производстве/build_pdf.sh
Охрана труда/Рефераты/Расследование, оформление и учет несчастных случаев на производстве/build_html.sh
